@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  * {
    @apply p-0 m-0 box-border font-sans
  }
}

.a11yHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
